.menu{
background-color: rgb(249, 228, 151);
width: 200px;
border: 1px solid black;
border-radius: 10px;
box-shadow: 5px 5px 0px rgb(112, 11, 11);
padding-top: 10px;
padding-bottom: 5px;
}
li{
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: bolder;
    color:rgb(136,0,0);
    padding: 0px;
    margin-left: -30px;
}